<style>
h1   {color: blue;}
p    {color: black;}
td  {color: black}
</style>
<body background = "http://cdn.wallpapersafari.com/65/11/PJDkyp.jpg">
<h1> <%='Welcome Pokemon Master' %></h1>
<p><em>Here you will manage your pokemon army</em></p>
