<h1>Cateogorias</h1>
<% if flash[:notice]  %>
	<div style= "background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
			<%= render @categories %>
	</tbody>
</table>
		<p> <%= link_to "Agregar Categoria", new_category_path %> </p>
		<p> <%= link_to "Ranking", categories_path %>		</p>
